extends ../layout

block scripts
  script(src='/js/create_bill.js')

block content
  h4 Создать чек
  if error
    h4(style="color: red")= error
  .container-fluid
    form#create_bill.form-horizontal(action='/bill/create' method='post')
      .form-group
        label.col-md-2.col-md-offset-2.control-label Магазин
        .col-md-3
          .input-group
            input.form-control.shop-title(name="shop" type="text", data-provide="typeahead", autocomplete="off")
            span.input-group-btn
              button.btn.btn-default.add-shop.add-button(type="button" disabled=true)
                span.glyphicon.glyphicon-plus
        input.shop-id(name='shop_id', type='hidden')
        label.col-md-2.control-label Дата
        .col-md-2
          input#bill_date.form-control(name='date', type='date')

      .form-group
        .col-md-3.col-md-offset-1
          label Наименование
        .col-md-2
          label Стоимость
        .col-md-2
          label Количество
        .col-md-1
          label Мера
        .col-md-2
          label Цена
      fieldset.products
        .form-group.product-params.hidden-group
          .col-md-3.col-md-offset-1
            .input-group
              input.form-control.product-title(name="title" type="text", data-provide="typeahead", autocomplete="off")
              span.input-group-btn
                button.btn.btn-default.add-product.add-button(type="button" disabled=true)
                  span.glyphicon.glyphicon-plus
            input.product-id(name='product_id', type='hidden')
          .col-md-2
            input.form-control.product-sum(name='sum', type='text')
          .col-md-2
            input.form-control.product-count(name='count', type='text', value='1')
          .col-md-1
            select.form-control(name='measure')
              option(value='pi') шт.
              option(value='kg') кг.
              option(value='li') литр.
          .col-md-2
            input.form-control.product-price(name='price', type='text')

      .form-group
        .col-md-2.col-md-offset-4
          input.form-control.total-price(type='text' readonly=true)

      .form-group
        button.col-md-2.col-md-offset-1.btn.btn-success.submit-button(type='submit') Отправить
        a.col-md-2.col-md-offset-3.btn.btn-success.next-button.absent(href='/bill/create') Далее

  // Modal
  #new_product.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new_product_label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#new_product_label.modal-title Добавить продукт
        .modal-body
          .container-fluid
            form#create_product.form-horizontal(action='/product/create' method='post')
              .form-group
                label.col-md-3.col-md-offset-1.control-label Наименование
                .col-md-7
                  input.form-control(name='title', type='text', readonly=true)
              .form-group
                label.col-md-3.col-md-offset-1.control-label Класс
                .col-md-7
                  input.form-control.product-kind(name='kind', type='text', readonly='true')
              .form-group
                label.col-md-3.col-md-offset-1.control-label Категория
                .col-md-7
                  .input-group
                    input.form-control.product-category(name="category" type="text", data-provide="typeahead", autocomplete="off")
                    span.input-group-btn
                      button.btn.btn-default.add-category.add-button(type="button", disabled=true, data-toggle='modal', data-target='#new_category')
                        span.glyphicon.glyphicon-plus
                input.category-id(name='category_id', type='hidden')
              button.col-md-offset-1.btn.btn-success(type='submit') Отправить

  #new_category.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new_category_label', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#new_category_label.modal-title Добавить категорию
        .modal-body
          .container-fluid
            form#create_category.form-horizontal(action='/category/create' method='post')
              .form-group
                label.col-md-4.col-md-offset-1.control-label Класс
                .col-md-6
                  select.form-control(name='kind')
                    option(value='Еда') Еда
                    option(value='Развлечения') Развлечения
                    option(value='Другое') Другое
              .form-group
                label.col-md-4.col-md-offset-1.control-label Наименование
                .col-md-6
                  input.form-control.category-title(name='title', type='text', readonly=true)
              button.col-md-offset-1.btn.btn-success(type='submit') Отправить
