extends ../layout

block scripts
  script(src='/js/create_bill.js')

block content
  h4 Покупки
  if error
    h4(style="color: red")= error
  .container-fluid
    table.table.table-hover
      thead
        tr
          th #
          th ID
          th Магазин
          th Продукт
          th Цена
          th Дата
          th Оператор
      tbody
        - var total = 0
        each item, key in purchases
          - console.log(item.doc.sum)
          - total+= parseFloat(item.doc.sum)
          tr
            th(scope="row")= key+1
            td= item.id
            td= item.doc.shop
            td= item.doc.title
            td= item.doc.price
            td= item.doc.date
            td= item.doc.creator
      - console.log('bbbbb')
      - console.log(total)
    .total !{total}
